.welcome {
  min-height: 700px;
}

.limit {
  width: @kc-limit-width;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  width: 436px;
  word-break: break-word;
  word-wrap: break-word;

  h1 {
    font-size: 80px;
    color: #01081E;
    margin-bottom: 8px;
    font-weight: 600;
  }
  h3 {
    font-size: 48px;
    color: #01081E;
    line-height: 56px;
    margin-bottom: 64px;
  }
  p {
    font-size: 16px;
    color: #0FCD8C;
    line-height: 24px;
    margin-bottom: 0;
  }
}

.right {
  height: 577px;
}

@media (max-width: @kc-mb-width) {
  .welcome {
    min-height: auto;
    padding-bottom: 190px;
  }

  .limit {
    width: 100%;
    margin: 0;
    padding: 0 24px;
    position: relative;

    .left {
      position: relative;
      z-index: 2;
      h1 {
        font-size: 64px;
      }
      h3 {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 48px;
      }
      p {
        font-size: 14px;
        line-height: 20px;
      }
    }

    .right {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      z-index: 1;
    }
  }
}
