.arrow {
  width: 64px;
  height: 25px;
  background: transparent;
  position: relative;
  cursor: pointer;

  .line {
    width: 100%;
    height: 1px;
    background: #0fcd8c;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  
}
.ArrowLeft {
  &::before {
    content: '';
    display: block;
    width: 10.6px;
    height: 10.6px;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-top: 1px solid #0fcd8c;
    border-left: 1px solid #0fcd8c;
    position: absolute;
    left: 2px;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
}
.ArrowRight{
  &::after {
    content: '';
    display: block;
    width: 10.6px;
    height: 10.6px;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid #0fcd8c;
    border-bottom: 1px solid #0fcd8c;
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
}

:global(.hairlines) {
  .ArrowLeft {
    &::before {
      border-right: 0.5px solid transparent;
      border-bottom: 0.5px solid transparent;
      border-top: 0.5px solid #0fcd8c;
      border-left: 0.5px solid #0fcd8c;
    }
  }
  .ArrowRight {
    &::after {
      border-top: 0.5px solid transparent;
      border-left: 0.5px solid transparent;
      border-right: 0.5px solid #0fcd8c;
      border-bottom: 0.5px solid #0fcd8c;
    }
  }
}
.disabledArrow {
  cursor: not-allowed;
  width: 48px;
  .disabledArrowLine {
    background-color: rgba(1, 8, 30, 0.24);
  }
  &::after {
    border-right: 0.5px solid rgba(1, 8, 30, 0.24) !important;
    border-bottom: 0.5px solid rgba(1, 8, 30, 0.24) !important;
  }
  &::before {
    border-top: 0.5px solid rgba(1, 8, 30, 0.24) !important;
    border-left: 0.5px solid rgba(1, 8, 30, 0.24) !important;
  }
}
