.why {
  width: @kc-limit-width;
  margin: 0 auto;
  box-sizing: border-box;
  padding-bottom: 156px;
  &-architecture {
    margin-top: 200px;
  }
  &-governance {
    margin-top: 200px;
  }
  &-betterService {
    margin-top: 200px;
  }
}

@media (max-width: @kc-mb-width) {
  .why {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 64px;
    &-architecture {
      margin-top: 72px;
    }
    &-governance {
      margin-top: 72px;
    }
    &-betterService {
      margin-top: 72px;
    }
  }
}
