.developer {
  margin-bottom: 200px;
}

.limit {
  width: @kc-limit-width;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  position: relative;
  z-index: 3;

  h2 {
    font-size: 64px;
    color: #01081E;
    margin-bottom: 48px;
  }
}

.des {
  font-size: 16px;
  color: #01081E;
  line-height: 24px;
}

.left {
  width: 680px;
  word-break: break-word;
  word-wrap: break-word;
}

@media (max-width: @kc-mb-width) {
  .developer {
    margin-bottom: 70px;
  }

  .limit {
    width: 100%;
    margin: 0;
    padding: 0 24px;
    display: block;

    img[data-role="right-img"] {
      width: 100%;
    }
  }
  .title {
    h2 {
      font-size: 40px;
      margin-bottom: 32px;
    }
  }

  .des {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
  }

  .left {
    width: 100%;
  }
}
